.git
.github

.venv
__pycache__
*.pyc
.pytest_cache
.ruff_cache

.env
.env.*
!.env.example

data/raw
data/processed
data/metadata
data/runtime
data/docs/raw
data/docs/processed

mlruns
mlartifacts

.idea
.vscode
.DS_Store
